.brands-section {
  width: 100%;
  background-color: #f9f9f9;
  padding: 10px 0;
  text-align: center;
}

.brands-title {
  font-weight: bolder;
  font-size: 24px;
  color: #0A0903;
  margin: 12px 0 0.5px 0;
}

.brands-container {
  display: flex;
  justify-content: center;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  column-gap: 55px;
  row-gap: 2px;
  flex-wrap: wrap;
  margin-top: 0;
}

.brand-item img {
  width: 120px;
  height: auto;
  opacity: 0.6;
  transition: all 0.3s ease;
  filter: grayscale(100%);
}

.brand-item img:hover {
  opacity: 1;
  color: #0A0903;
  transform: scale(1.15);
}

@media (max-width: 480px) {
  .brands-container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 15px;
  }

  .brand-item img {
    width: 80px;
  }
}
